{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}

            {# Here you go! #}
            {{ form_row(form.images) }}

        </div>
    </div>
    <div class="column">
        {{ translationForm(form.translations) }}
    </div>
</div>